html, body {
    font-family: Helvetica;
    font-size: 1em;
}

#main-container {
    margin: 0 auto;
    max-width: 1200px;
}

h1.title, h2.title {
    text-align: center;
}

/************* decks ************/

#deck-container {
    width: 100%;
    padding-bottom: 0.5em;
    border-bottom: 1px solid black;
    margin-bottom: .5em;
}

.deck {
    display: inline-block;
    width: 23.5%;
    padding-right: 0.5%;
    padding-left: 1%;
}

.deck img {
    width: 90px;
}

.deck-num-cards {
    margin-top: .25em;
    font-size: 1.2em;
    margin-left: 40px;
}

/************* decks ************/

/************* player ***********/
#player-container {
    width: 100%;

    padding-bottom: 0.45em;
    border-bottom: 1px solid black;
    margin-bottom: .45em;
    
}

.player .progress-bar {
    background-color: #FCC96A;
    color: black;
    font-weight: bold;
}

.player {
    display: inline-block;
    width: 23%;
    padding-left: 1%;
    font-size: 0.9em;
    vertical-align: top;
}

.player .name {
    font-size: 1.3em;
    font-weight: bold;
    margin-bottom: 0.25em;
}

.player-money-container, .player-points-container {
    text-align: center;
    position: relative;
    width: 40px;
    display: inline-block;
}

.player-token-container {
    display: inline-block;
}

.money-icon, .points-icon, .token-icon {
    width: 40px;
}

.player-money, .player-points {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-weight: bold;
}

.player-turn {
    color: red;
}

.card {
    font-size: 0.9em;
}

.current-phase {
    color: red;
}

/************* player ***********/

/************ board *************/

#board-container {
    position: fixed;
    bottom: 20px;
    display: block;
    border: 1px solid black;
    margin: 0 auto;
}

#upper-board, #lower-board {
    display: block;
    border: 1px dashed black;
    margin: 0 auto;
    min-width: 800px;
}

.buyable-card:hover, .playable-card:hover {
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.position-fixed {
    position: fixed;
}

.dropdown-menu-item {
    cursor: pointer;
    font-weight: normal;
}

li.dropdown-menu-item {
    background-color: white;
    color: black;
}

li.dropdown-menu-item:hover {
    background-color: #ccc;
    color: white;
}

.worker-card {
    background-color: #8EC787;
}

.building-card {
    background-color: #7FBEF5;
}

.aristocrat-card {
    background-color: #FCC96A;
}

.upgrade-card {
    background-color: #C786F0;
}

.player .player-subtitle {
    font-weight: bold;
    font-size: 1.05em;
}

/************ board *************/
