/**
 * The upper and lower board are situated at the bottom
 * Right now they are statically positioned with respect to the bottom of the screen
 */

$bottom-offset: 2.1rem;
$tablet-max-height: 1024px;
$tablet-card-height: 1rem;
// actually should be enough to hold 3 cards
$tablet-card-container-height: 4.5 * $tablet-card-height;
$tablet-card-width: 33%;
$tablet-bottom-offset: 1.5rem;

#board-container {
    position: fixed;
    bottom: $bottom-offset;
    left: 0;
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;

    // tablet screen
    @media screen and (max-height: $tablet-max-height) {
        bottom: $tablet-bottom-offset;
    }

    .inner-board-container {
        display: block;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-bottom: 0;
        margin-top: .4rem;
        margin-bottom: 0;
        margin-left: auto;
        margin-right: auto;

        // tablet screen
        @media screen and (max-height: $tablet-max-height) {
            width: 100%;
        }

        // small laptop screen
        @media screen and (min-width: 768px) and (min-height: $tablet-max-height + 1) {
            min-width: 768px;
        }

        // slightly larger than that but still sizable
        @media screen and (min-width: 800px) {
            width: 800px;
        }

        // wide screen
        @media screen and (min-width: 1000px) {
            width: 900px;
        }

        // very wide screen
        @media screen and (min-width: 1100px) {
            width: 1000px;
        }
    }

    .board {
        margin: 0 auto;
    }

    .card-container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding: 0;
        margin: 0;
        width: 100%;
        height: 5.8rem;

        // small screens
        @media screen and (max-height: $tablet-max-height) {
            height: $tablet-card-container-height;
        }

        // quite large screens
        @media screen and (min-height: 1200px) {
            height: 8rem;
        }
    }

    .card {
        font-size: 1rem;
        width: 50%;
        // some spatial division if we have multiple rows
        margin-right: .5rem;
        margin-bottom: 0;
        margin-top: 0;
        padding-bottom: 0;
        padding-top: 0;

        @media screen and (max-height: $tablet-max-height) {
            // padding: 1em;
            font-size: $tablet-card-height;
            width: $tablet-card-width;
        }
    }
}

/* both for board and for cards in hand */
.buyable-card:hover {
    color: white;
    font-weight: bold;
    cursor: pointer;
}


