$max-container-height: 350px;

/* there is one card that has a longer name than this */
$max-card-name-width: 151px;
/* this is the longest card name */
$max-card-name-width-longest: 171px;

.bought-cards-container  {
    width: 100%;
    /* when/if you buy a lot of unique cards (like aristocrats) this can get really long */
    max-height: $max-container-height;
    overflow-y: auto;
    margin-bottom: .5rem;

    .card.bought-card {
        width: 100%;
        margin-bottom: .25rem;
        font-size: 1rem;
        vertical-align: bottom;

        .card-name {
            /* manually set to the largest value for this field that I've seen */
            min-width: $max-card-name-width;
            display: inline-block;

            @media screen and (min-width: 1400px) {
                min-width: $max-card-name-width-longest;
            }
        }
        
        .card-coin-yield-container,
        .card-point-yield-container {
            text-align: center;
            position: relative;
            width: 20px;
            display: inline-block;
        }
        
        .money-icon,
        .points-icon {
            width: 20px;
        }
        
        .card-type-rect {
            width: 20px;
            height: 20px;
            display: inline-block;
            vertical-align: bottom;
            border: 1px solid black;
        }
        
        .card-coin-yield,
        .card-point-yield {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        
            font-weight: bold;
        }
        
        &.playable-card .card-name {
            color: blue;
            font-weight: bold;
            cursor: pointer;
        }
    }
}

