$tablet-height: 1024px;
$phone-landscape-height: 400px;

#btn-container  {
    // on tablets, move the controls to the top right
    @media screen and (max-height: $tablet-height) {
        position: absolute;
        top: 1rem;
        right: 1rem;
    }

    // leave some room for notices on top-right on really small screens
    @media screen and (max-height: $phone-landscape-height) {
        top: 5.5rem;
    }

    .btn {
        font-size: 1rem;

        @media screen and (max-height: $tablet-height) {
            font-size: 1.1em;
        }
    }
}