$min-player-width: 210px;
$min-player-width-wide-screen: 250px;
$min-player-width-small-screen: 190px;

$mobile-screen-width: 400px;

$tablet-height: 1024px;
$tablet-player-name-font-size: 1.4rem;

$phone-landscape-height: 500px;
$phone-player-name-font-size: 1.3rem;
$phone-player-name-margin: .3rem;

#player-container {
    width: 100%;

    padding-bottom: 0.45rem;
    padding-top: 0.45rem;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    margin-bottom: .45rem;

    display: flex;
    flex-direction: row;
    justify-content: space-around;

    .player {
        // some text is very wide: mistress of ceremonies, czar and carpenter, church of the resurection
        min-width: $min-player-width;
        font-size: .9rem;
        vertical-align: top;

        @media screen and (min-width: 1200px) {
            min-width: $min-player-width-wide-screen;
        }

        // phone landscape mode
        @media screen and (max-height: $mobile-screen-width) and (max-width: 1024px) {
            min-width: $min-player-width-small-screen;
        }

        .name {
            font-size: 1.2rem;
            font-weight: bold;
            margin-bottom: 0.25rem;
            display: block;

            @media screen and (max-height: $tablet-height) {
                display: inline-block;
                margin-right: .5rem;
                font-size: $tablet-player-name-font-size;
                margin-bottom: 0;
            }

            @media screen and (max-height: $phone-landscape-height) {
                font-size: $phone-player-name-font-size;
                margin-right: $phone-player-name-margin;
            }
        }

        .num-aristocrats-progress-name {
            color: #666;
            font-size: .8rem;
        }

        .progress.num-aristocrats {
            // default is 20px
            margin-bottom: .9rem;

            @media screen and (max-height: $tablet-height) {
                margin-bottom: .5rem;
            }
        }

        .progress-bar {
            background-color: #FCC96A;
            color: black;
            font-weight: bold;
        }
    }

    .player-stats {
        margin-bottom: .3rem;
        display: inline-block;

        .player-money-container,
        .player-points-container {
            text-align: center;
            position: relative;
            width: 40px;
            display: inline-block;
        }

        .player-token-container {
            display: inline-block;
        }

        .money-icon,
        .points-icon,
        .token-icon {
            width: 40px;
        }

        .player-money,
        .player-points {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            font-weight: bold;
        }
    }
}