$min-player-width: 210px;
$min-player-width-wide-screen: 250px;

$mobile-screen-width: 400px;

#player-container {
    width: 100%;

    padding-bottom: 0.45rem;
    border-bottom: 1px solid black;
    margin-bottom: .45rem;

    display: flex;
    flex-direction: row;
    justify-content: space-around;

    .player {
        // some text is very wide: mistress of ceremonies, czar and carpenter, church of the resurection
        min-width: $min-player-width;
        font-size: .9rem;
        vertical-align: top;

        @media screen and (min-width: 1200px) {
            min-width: $min-player-width-wide-screen;
        }

        .name {
            font-size: 1.3rem;
            font-weight: bold;
            margin-bottom: 0.25rem;
        }

        .num-aristocrats-progress-name {
            color: #666;
            font-size: .8rem;
        }

        .progress.num-aristocrats-progress {
            // default is 20px
            margin-bottom: .9rem;
        }

        .progress-bar {
            background-color: #FCC96A;
            color: black;
            font-weight: bold;
        }
    }

    .player-stats {
        margin-bottom: .3rem;

        .player-money-container,
        .player-points-container {
            text-align: center;
            position: relative;
            width: 40px;
            display: inline-block;
        }

        .player-token-container {
            display: inline-block;
        }

        .money-icon,
        .points-icon,
        .token-icon {
            width: 40px;
        }

        .player-money,
        .player-points {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            font-weight: bold;
        }
    }
}