# ignore bower stuff; can install with bower.json
bower_components

# ignore node stuff; can install with package.json
node_modules
yarn-error.log

# editors
.vimrc
*.sublime-*

# Mac garbage
.DS_Store
