<!DOCTYPE html>
<html lang="en" ng-app="StPeter">
    <head>
        <meta charset="utf-8" />
		<!-- local -->
        <!--<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css" />-->

		<!-- CDN -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <link rel="stylesheet" href="css/style.css" />
        <title>St. Petersburg Board Game</title>
    </head>
    <body data-ng-controller="PeterCtrl as game">
        <div id="main-container">
            <h2 class="title">St. Petersburg Board Game</h2>

            <div id="deck-container">
                <div class="deck" data-ng-class="{ currentPhase: game.isCurrentPhase(phase) }"
                    data-ng-repeat="phase in gamePhases">
                    <span>{{ game.getPhaseName(phase) }} deck</span>&nbsp;-&nbsp;
                    <span>{{ game.decks[phase].length }} cards</span>
                </div>
            </div>

            <div id="player-container">
                <div class="player" ng-repeat="player in game.players">
                    <div class="name" ng-class="{ playerTurn: game.isPlayerTurn(player) }">
                        <span ng-if="player.isHuman">[H]</span>
                        <span ng-if="!player.isHuman">[Bot]</span>
                        <span>{{ player.name }}</span>
                    </div>
                    <div class="player-stats">
                        <div>Points: {{ player.points }}</div>
                        <div>Money: {{ player.money }}</div>
                        <!--<div>Number of Cards: {{ player.cards.length }}</div>-->
                        <!--<div>Hand Size: {{ player.hand.length }}</div>-->
                        <div>Token: {{ game.getPhaseName(player.token) }}</div>
                    </div>
                    <div class="player-cards">
                        <div class="player-subtitle">Played Cards</div>
                        <div class="card" ng-repeat="card in player.cards" ng-class="{ 'playable-card': card.isPlayable }"
                            ng-click="game.playCard(card, player, player.cards)">
                            <div spb-card></div>
                        </div>
                        <div ng-if="player.cards.length === 0">No cards</div>
                    </div>
                    <div class="player-hand">
                        <div class="player-subtitle">Cards In Hand</div>
                        <div class="card buyable-card" ng-repeat="card in player.hand"
                            ng-click="game.playCardFromHand(card, player)">
                            <div spb-card></div>
                        </div>
                        <div ng-if="player.hand.length === 0">Empty hand</div>
                    </div>
                </div>
            </div>

            <div id="board-container">
                <div id="upper-board" class="board">
                    <h4>Upper Board</h4>
                    <div ng-if="game.upperBoard.length === 0">Empty</div>
                    <div class="card buyable-card" ng-repeat="card in game.upperBoard"
                        ng-click="game.buyCard(card, game.upperBoard)"
                        context-menu class="panel panel-default"
                        data-target="upper-menu-{{ $index }}"
                        ng-class="{ 'highlight': highlight, 'expanded': expanded }">
                        <div spb-card></div>

                        <div class="dropdown position-fixed" id="upper-menu-{{ $index }}">
                            <ul class="dropdown-menu" role="menu">
                                <li class="dropdown-menu-item"
                                    ng-click="game.buyCard(card, game.upperBoard)">Buy</li>
                                <li class="dropdown-menu-item"
                                    ng-click="game.putCardInHand(card, game.upperBoard)">Put In Hand</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div id="lower-board" class="board">
                    <h4>Lower Board</h4>
                    <div ng-if="game.lowerBoard.length === 0">Empty</div>
                    <div class="card" ng-repeat="card in game.lowerBoard"
                        ng-click="game.buyCard(card, game.lowerBoard)"
                        context-menu class="panel panel-default"
                        data-target="lower-menu-{{ $index }}"
                        ng-class="{ 'highlight': highlight, 'expanded': expanded, 'buyable-card': game.getCurrentPlayer().isHuman }">
                        <div spb-card></div>

                        <div class="dropdown position-fixed" id="lower-menu-{{ $index }}">
                            <ul class="dropdown-menu" role="menu">
                                <li class="dropdown-menu-item"
                                    ng-click="game.buyCard(card, game.lowerBoard)">Buy</li>
                                <li class="dropdown-menu-item"
                                    ng-click="game.putCardInHand(card, game.lowerBoard)">Put In Hand</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <button type="button" class="btn btn-primary"
                ng-click="game.passTurn()" ng-disabled="!game.getCurrentPlayer().isHuman">Next Turn (Pass)</button>
            <button type="button" class="btn btn-success"
                ng-click="game.doRobotAction()" ng-disabled="game.getCurrentPlayer().isHuman">Do Robot Action</button>
        </div>

        <script type="text/ng-template" id="upgradeModal.html">
            <div class="modal-header">
                <h3 class="modal-title">Pick a card to upgrade into {{ upgradeCard.name }}</h3>
            </div>
            <div class="modal-body">
                <label for="upgradeCard">Pick the card to upgrade</label>
                <select name="upgradeCard" ng-options="card as getCardString(card) for card in upgradableCards" ng-model="selected.card">
                </select>
                <div>Selected: {{ selected.card.name }}</div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" ng-click="ok()">OK</button>
                <button class="btn btn-danger" ng-click="cancel()">Cancel</button>
            </div>
        </script>

        <script type="text/ng-template" id="observatoryModal.html">
            <div class="modal-header">
                <h3 class="modal-title">Pick a deck to peek into</h3>
            </div>
            <div class="modal-body">
                <label for="deck">Pick the deck to peek into</label>
                <select name="deck" ng-options="phase for phase in phases" ng-model="selected.deck">
                </select>
                <div>Selected: {{ selected.deck }}</div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" ng-click="ok()">OK</button>
                <button class="btn btn-danger" ng-click="cancel()">Cancel</button>
            </div>
        </script>

        <script type="text/ng-template" id="peekingModal.html">
            <div class="modal-header">
                <h3 class="modal-title">Pick an action to perform</h3>
            </div>
            <div class="modal-body">
                <div><label for="option">What do you want to do with your new card: {{ peekCard.name }}</label></div>
                <select name="option" ng-options="option for option in options" ng-model="selected.option">
                </select>
                <div>Selected: {{ selected.option }}</div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" ng-click="ok()">OK</button>
            </div>
        </script>

		<!-- CDN -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.0/underscore-min.js"></script>
		<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js"></script>-->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/ng-context-menu/1.0.2/ng-context-menu.min.js"></script>
        <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.13.0.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.13.0/ui-bootstrap-tpls.min.js"></script>

		<!-- local -->
        <!--<script src="bower_components/underscore/underscore-min.js"></script>-->
        <!--<script src="bower_components/angular/angular.js"></script>-->
        <!--<script src="bower_components/ng-context-menu/dist/ng-context-menu.js"></script>-->
        <!--<script src="bower_components/angular-ui-bootstrap/src/modal/modal.js"></script>-->
        <script src="js/cards.js"></script>
        <script src="my_node_modules/player.js"></script>
        <script src="my_node_modules/ai.js"></script>
        <script src="js/display.js"></script>
    </body>
</html>
