<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
		<!-- local -->
        <!-- <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css" /> -->

		<!-- CDN -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
            integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
            crossorigin="anonymous">

        <link rel="stylesheet" href="css/style.css" />
        <title>St. Petersburg Board Game</title>
    </head>
    <body ng-app="stPeter">
        <div id="main-container" ng-controller="PeterCtrl as game">
            <div ng-if="game.humanPlayerName">
                <div id="deck-container">
                    <spb-deck ng-repeat="phase in game.phases"
                        phase-name="game.getPhaseName(phase)"
                        num-cards="game.decks[phase].length"
                        is-current-phase="game.isCurrentPhase(phase)">
                    </spb-deck>
                </div>

                <div id="player-container">
                    <spb-player ng-repeat="player in game.players"
                        player="player"
                        is-turn="game.isPlayerTurn(player)"
                        on-play-card="game.playCard(card, player, collection)"
                        on-play-card-from-hand="game.playCardFromHand(card, player)">
                    </spb-player>
                </div>

                <div id="board-container">
                    <div class="inner-board-container">
                        <spb-board
                            cards="game.upperBoard"
                            current-player-is-human="game.getCurrentPlayer().isHuman"
                            on-buy-card="game.buyCard(card, collection)"
                            on-put-card-in-hand="game.putCardInHand(card, collection)"
                            name="'upper'">
                        </spb-board>

                        <spb-board
                            cards="game.lowerBoard"
                            current-player-is-human="game.getCurrentPlayer().isHuman"
                            on-buy-card="game.buyCard(card, collection)"
                            on-put-card-in-hand="game.putCardInHand(card, collection)"
                            name="'lower'">
                        </spb-board>
                    </div>
                </div>

                <div id="btn-container">
                    <button type="button" class="btn btn-success"
                        ng-click="game.passTurn()"
                        ng-disabled="!game.getCurrentPlayer().isHuman">Next Turn (Pass)</button>
                    <button type="button" class="btn btn-primary"
                        ng-click="game.doRobotAction()"
                        ng-disabled="game.getCurrentPlayer().isHuman || game.aiIsWorking">
                        {{ game.aiIsWorking ? "Thinking..." : "AI Turn" }}
                    </button>
                </div>
            </div>
            <div ng-if="!game.humanPlayerName">Waiting for human player name...</div>

            <footer>
                <p>Simulation of the St Petersburg board game developed by <a href="https://boompig.herokuapp.com/">Daniel Kats</a> in 2018. The rules can be found <a href="http://riograndegames.com/uploads/Game/Game_178_gameRules.pdf">here [PDF].</a>
                </p>
            </footer>
        </div>

        <script type="text/ng-template" id="upgradeModal.html">
            <div class="modal-header">
                <h3 class="modal-title">Pick a card to upgrade into {{ upgradeCard.name }}</h3>
            </div>
            <div class="modal-body">
                <label for="upgradeCard">Pick the card to upgrade</label>
                <select name="upgradeCard" ng-options="card as getCardString(card) for card in upgradableCards" ng-model="selected.card">
                </select>
                <div>Selected: {{ selected.card.name }}</div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" ng-click="ok()">OK</button>
                <button class="btn btn-danger" ng-click="cancel()">Cancel</button>
            </div>
        </script>

        <script type="text/ng-template" id="observatoryModal.html">
            <div class="modal-header">
                <h3 class="modal-title">Pick a deck to peek into</h3>
            </div>
            <div class="modal-body">
                <label for="deck">Pick the deck to peek into</label>
                <select name="deck" ng-options="phase for phase in phases" ng-model="selected.deck">
                </select>
                <div>Selected: {{ selected.deck }}</div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" ng-click="ok()">OK</button>
                <button class="btn btn-danger" ng-click="cancel()">Cancel</button>
            </div>
        </script>

        <script type="text/ng-template" id="peekingModal.html">
            <div class="modal-header">
                <h3 class="modal-title">Pick an action to perform</h3>
            </div>
            <div class="modal-body">
                <div><label for="option">What do you want to do with your new card: {{ peekCard.name }}</label></div>
                <select name="option" ng-options="option for option in options" ng-model="selected.option">
                </select>
                <div>Selected: {{ selected.option }}</div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" ng-click="ok()">OK</button>
            </div>
        </script>

		<!-- CDN -->
        <script src="//cdnjs.cloudflare.com/ajax/libs/seedrandom/2.4.3/seedrandom.min.js"></script></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.0/underscore-min.js"></script>
        <!-- Angular 1 for production -->
        <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js"></script>-->
        <!-- Angular 1 for debugging -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/ng-context-menu/1.0.2/ng-context-menu.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.13.0/ui-bootstrap-tpls.min.js"></script>

		<!-- local libraries (helpful for offline development) -->
        <!-- <script src="node_modules/lodash/lodash.min.js"></script>
        <script src="node_modules/angular/angular.js"></script>
        <script src="node_modules/seedrandom/seedrandom.js"></script>
        <script src="node_modules/whatwg-fetch/fetch.js"></script> -->
        <!--<script src="bower_components/ng-context-menu/dist/ng-context-menu.js"></script>-->
        <!--<script src="bower_components/angular-ui-bootstrap/src/modal/modal.js"></script>-->

        <script src="js/cards.js"></script>
        <script src="js/static-data.js"></script>
        <script src="my_node_modules/player.js"></script>
        <script src="my_node_modules/ai.js"></script>
        <script src="js/display.js"></script>
        <script src="js/angular-components/spb-deck.js"></script>
        <script src="js/angular-directives/spb-card.js"></script>
        <script src="js/angular-components/spb-player.js"></script>
        <script src="js/angular-components/spb-board.js"></script>
        <script src="js/angular-components/spb-player-card.js"></script>
        
    </body>
</html>
